<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113354232432-ud5qg9orkeordiotk759he5adnim0bn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113354232432-ud5qg9orkeordiotk759he5adnim0bn7</string>
	<key>API_KEY</key>
	<string>AIzaSyCymssWayyQOF1SjmT3S1cCi4_iBxcozcA</string>
	<key>GCM_SENDER_ID</key>
	<string>113354232432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Movie.Movie</string>
	<key>PROJECT_ID</key>
	<string>mobie-4c3b6</string>
	<key>STORAGE_BUCKET</key>
	<string>mobie-4c3b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113354232432:ios:14d8589bfbcc461b831ab5</string>
</dict>
</plist>